<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Kartu Tanda Mahasiswa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div><b>KARTU TANDA MAHASISWA</b></div>
        <hr>
        <table align='center'>
            <thead>
                <tr>
                    <td><b>Nama</b></td>
                    <td><b>Tanggal Lahir</b></td>
                    <td><b>Pas Foto</b></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${nama}"></td>
                    <td th:text="${tanggal}"></td>
                    <td> <img th:src="${image}"> </td>
                </tr>
            </tbody>
        </table>
    </body>
    <style>
        div{
            background:#FDFEFE;
            text-align: center;
            margin-top: 20px;
        }
        body{
            background: #A2D9CE;
        }
        table, td{
            margin-top: 80px;
            text-align: center;
        }
        td{
            border: 2px solid;
        }
        img{
            border: 2px;
            border-radius: 4px;
            padding: 5px;
            width: 200px;
        }
    </style>
</html>
